:root {
    --brand-color: #2196F3;
    --studio-color: #000000;
    --hero-text: #FFFFFF;
    --nav-text: #212121;
    --tel-text: #757575;
    --focus-color: #2196F3;
    --heading-color: #212121;
    --adress-color: rgba(255, 255, 255, 0.6);
}

body {
    font-family: 'Roboto', sans-serif;
}

ul{
    list-style: none;
}


a {
    text-decoration: none;
}


.brand {
    font-family: Raleway;
    font-weight: bold;
    font-size: 26px;
    line-height: 1.2;
    color: var(--studio-color);
}

.web {
    color: var(--brand-color);
}

.navigator {
color: var(--nav-text);
font-weight: 500;
font-size: 14px;
line-height: 1.2;
letter-spacing: 0.02em;
}

.navigator:hover {
    color: var(--focus-color);
}


.telephone {
color: var(--tel-text);
font-weight: 500;
font-size: 14px;
line-height: 1.2;
letter-spacing: 0.02em;
}

.telephone:hover {
    color: var(--focus-color);
}


.hero {
    background-color: #2F303A;
}

.hero-heading {
    color: var(--hero-text);
}

.zakaz {
    color: var(--hero-text);
}
